.App {
  padding: 20px;
  display: flex;
  box-sizing: border-box;
}
.shift-form {
  width: 60%;
  box-sizing: border-box;
  position: relative;
  height: 820px;
}
.shift-form .switch-switch-pos {
  position: absolute;
  right: 20%;
  top: 20px;
}
.technician-search-list {
  width: 40%;
  box-sizing: border-box;
}
.shift-form .form {
  display: flex;
  position: absolute;
  top: 120px;
  width: 100%;
}
.shift-form .form .form-left {
  height: 600px;
  width: 100%;
  border-radius: 4px;
  margin-left: 50px;
}
.shift-form .form .form-right {
  width: 40%;
  text-align: center;
  padding-left: 20px;
}
.shift-form .form-footer {
  position: absolute;
  bottom: 0;
  width: 600px;
  right: 0;
  left: 0;
  margin: auto;
}
